.section__color {
    background-color: white;
    padding: 20px;
    margin: 3px;
}


.section__buttonDone {
    width: 35px;
    height: 35px;
    background-color: green;
    color: white;
    padding: 0;
    border: none;

}

.section__buttonDone--checked {
    text-decoration: line-through;
}


.section__buttonDelete {
    width: 35px;
    height: 35px;
    background-color: rgb(219, 84, 84);
    color: white;
    padding: 0;
    border: none;

}